[Unit]
Description=Button for announcing space presence

[Service]
Type=simple
User=button
Environment=BUTTON_PIN=17 LIGHT_PIN=18 MQTT_PASS=PleaseFixMe
ExecStart=/usr/local/bin/buttond
Restart=always

[Install]
WantedBy=default.target
