[Unit]
Description=Changes IRC topic when space status button is pressed
Wants=network-online.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/irc-topic-changer.py
Restart=always
RestartSec=15

[Install]
WantedBy=network-online.target
