[Unit]
Description=Changes IRC topic when space status button is pressed
Wants=network-online.target

[Service]
Type=simple
User=button
Environment=PYTHONUNBUFFERED=1 DEBUG=1 IRC_PASS=PleaseSetThisCorrectly
ExecStart=/usr/local/bin/irc-topic-changer.py
Restart=always
RestartSec=15

[Install]
WantedBy=network-online.target
